[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
Pillow = "*"
"jhwutils" = {git = "https://github.com/johnhw/jhwutils.git", editable = true}
"lautils" = {git = "https://github.com/AlbertS789/lautils.git", editable = true}
scikit-image = "*"
torch = {url = "https://download.pytorch.org/whl/cu111/torch_stable.html", extra = "torch"}
torchtext = "0.10.0"
torchvision = "*"
torchsummary = "*"
datasets = "*"
nltk = "*"
spacy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"

[scripts]
postinstall = "python -m spacy download en_core_web_sm && python -m spacy download de_core_news_sm"
